//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:14px;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
//<ШРИФТЫ>==============================================================================================

//<Шрифты по умолчанию>==========================================================================================
$fontfamily:"Lato";
//<Шрифты по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================
//$minwidth:320px;
//$mw:1103px;
//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
	width: 100%;
	min-height: 100%;
	@include flexbox();
	overflow: hidden;
	flex-direction: column;
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>=================================================================================
.container {
	max-width: 1103px;
	margin: 0 auto;
	@media (max-width:1103px) {max-width: 970px;}
	@media (max-width:992px) {max-width: 750px;}
	@media (max-width:767px){max-width: none;}
}
//</ОСНОВНАЯ СЕТКА>=================================================================================
html {
	scroll-behavior: smooth;
	}

body {
	font-family: $fontfamily;
}

.mainblock {
	background: url('../img/bg-header.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 1 1 auto;
	@include flexbox();
	justify-content: center;
	text-align: center;
	padding: 50px 0;
	@media (max-width:767px) , screen and (max-height: 600px) {
		font-size: 25px;
		line-height: 30px;
		padding: 100px 0;
		}

	&__content {
		flex: 1 1 auto;
		.container {
			height: 100%;
			@include flexbox();
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
}

	&__logo {
}

	&__text {
		position: relative;
		color: #fff;
		padding: 0px  0px 45px 0px;
		margin: 30px 0;
		&:after {
				content: '';
				width: 105px;
				height: 2px;
				background-color: #fff;
				position: absolute;
				margin: 0px 0px 0px -52.5px;
				bottom: 0;
			}
}

	&__title {
		font-size: 34px;
		font-weight: 900;
		line-height: 1.18;
		letter-spacing: 5.44px;
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;
		@media (max-width:767px) , screen and (max-height: 600px) {
		font-size: 25px;
		line-height: 30px;
		}
}

	&__subtitle {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
}

	&__footer {
		display: inline-flex;
		flex-direction: column;
}

	&__btn {
		display: inline-block;
		width: 182px;
		height: 47px;
		border: #fff solid 1px;
		opacity: 1;
		font-size: 15.5px;
		letter-spacing: 0.93px;
		line-height: 2.9;
		text-align: center;
		color: #fff;
		margin: 0px 0px 60px 0px;
}

	&__arrow {
		position: relative;
		animation: arrow 2s infinite ease;
	}
	&__arrow:hover {
		animation-play-state: paused;
		}
}
@keyframes arrow{
	0%{top: 0;}
	50%{top: 20px;}
	100%{top: 0;}
}
@-webkit-keyframes arrow{
	0%{top: 0;}
	50%{top: 20px;}
	100%{top: 0;}
}
@-moz-keyframes arrow{
	0%{top: 0;}
	50%{top: 20px;}
	100%{top: 0;}
}
@-o-keyframes arrow{
	0%{top: 0;}
	50%{top: 20px;}
	100%{top: 0;}
}

//======================================================================================================
//======================================================================================================

.content {

}
.menu {
	padding: 22px 0;
		&__items {
		}

		&__list {
			@include flexbox();
			justify-content: center;

			flex-wrap: wrap;
			li{
				margin: 0 25px;
				@media (max-width:767px) , screen and (max-height: 600px) {
				margin: 10px 25px;}
			}
			}

		&__link {
			flex: 1 1 25%;
			color: #3c3c3c;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 700;
			&_act {
				color: #ada074;
			}
		}
}

//======================================================================================================
//======================================================================================================

.about {
margin: 130px 0px 95px 0px;
@media (max-width:767px) , screen and (max-height: 600px) {
font-size: 25px;
line-height: 30px;
}

	&__body {
		max-width: 823px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header {
		margin: 0px 0px 69px 0px;
	}

	&__title {
		margin: 0px 0px 37px 0px;
	}

	&__text {
		max-width: 688px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.86;
		text-align: center;
		color: #868585;
	}

	&__row {
		max-width: 823px;
		margin: 0 auto;
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__column {
		flex: 1 1 30%;
		@media (max-width:767px) , screen and (max-height: 600px) {
			font-size: 25px;
			line-height: 30px;
			padding: 20px 0;
			flex: 1 1 100%;
			.item-about__text {
				max-width: 500px;
			}
			}
	}

	&__column2 {
		flex: 1 1 40%;
		@media (max-width:767px) , screen and (max-height: 600px) {
			font-size: 25px;
			line-height: 30px;
			padding: 20px 0;
			flex: 1 1 100%;
			.item-about__text {
				max-width: 500px;
			}
			}
	}
}

.title { // Полоска под названием
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5.44px;
	text-align: center;
	color: #000;
	position: relative;
	padding: 0px 0px 37px 0px;
	&::after{
		content: '';
		position: absolute;
		width: 81px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -40px;
	}
}

.item-about {
text-align: center;

		&__icon {
		width: 92px;
		height: 92px;
		border-radius: 50%;
		border: 2px solid #f1f1f1;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		&_l {
			img{position: relative;left: 5px;}
		}
	}

	&__title {
		max-width: 250px;
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 3.52px;
		text-align: center;
		color: #000;
		margin: 41px auto 36px auto;
	}

	&__text {
		max-width: 265px;
		margin: 0 auto;
		height: 100%;
		font-weight: 300;
		line-height: 1.86;
		text-align: center;
		color: #868585;
	}
}

//======================================================================================================
//======================================================================================================

.portfolio {
	background-color: #f3f3f3;

	&__body {
		padding: 107px 0px 62px 0px;
		display: flex;
		flex-direction: column;
		@media (max-width:767px) , screen and (max-height: 600px) {
			padding: 100px 0px 0px 0px;
	}
}

	&__header {
		margin: 0px 0px 136px 0px;
		@media (max-width:767px) , screen and (max-height: 600px) {
			margin: 0px 0px 70px 0px;
	}
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto 50px auto;
	}

	&__menu {
	}
	&__list {
		max-width: 295px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 22px;
		text-transform: uppercase;
		font-size: 15px;
	}

	&__link {
		color: #3c3c3c;
		&_act {
			color: #ada074;
		}
	}

	&__items {
	display: flex; // Применяем флекс
	justify-content: center;
	flex-wrap: wrap; // Устанавливаем переход на следующую строку
	margin: 0px -13px; // Отрицательный отступ для элементов друг от друга
	}

	&__image {
	padding: 0px 13px; // Такой же, но положительный отступ для элементов друг от друга
	flex: 0 1 50%; // Запрет на увеличение, разрешение на уменьшение, Ограничение размера на 50% от всего блока
	margin: 0px 0px 16px 0px;
	}

	&__footer {
		margin: 48px 0px 62px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__btn {
		display: block;
		flex-direction: column;
		width: 182px;
		height: 47px;
		border: #000 solid 1px;
		opacity: 1;
		font-size: 15.5px;
		letter-spacing: 0.93px;
		line-height: 2.9;
		text-align: center;
		color: #000;
	}
}

//======================================================================================================
//======================================================================================================

.partners {
	background: url('../img/bg-header-copy.png') 0 0 no-repeat;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 390px;
	&__body {
		max-width: 584px;
		margin: 0px auto;
		padding: 100px 0px 100px 0px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 30.5px;
		font-weight: 300;
		letter-spacing: 1.83px;
		text-align: center;
		color: #fff;
	}

	&__links {
		margin: 93px 0px 0px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__btn {
	}
}

//======================================================================================================
//======================================================================================================

.contact {

	&__body {
		max-width: 850px;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		padding: 140px 0px 102px 0px;
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto 50px auto;
		margin: 0px 0px 120px 0px;
	}

	&__columns {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__visit {
		flex: 0 0 50%;

		padding: 0px 0px 0px 50px;;
	}

	&__text {
		font-weight: 300;
		line-height: 1.86;
		text-align: left;
		margin-bottom: 40px;
	}

	&__elena {
		font-weight: 700;
		margin-bottom: 15px;
	}

	&__links {
	}

	&__fb {
		margin-right: 12px;
	}

	&__in {
	}

	&__mail {
		font-weight: 300;
		line-height: 1.86;
		text-align: left;
		a {
			font-weight: 700;
		}
	}

	&__form {
		flex: 0 0 50%;

		.form__example {
			position: relative;
			width: 383px;
			display: flex;
			flex-direction: column;
			font-weight: 700;
			letter-spacing: 0.84px;
			text-align: left;
			color: #000;
			padding-bottom: 42px;
	}

		.form__example-contact{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 75px;
	}

		.form__example-name {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		label {
			margin-bottom: 18px;
		}
	}

		.form__name {
		width: 161px;
		height: 35px;
		border-top: #000 solid 1px;
		background-color: #f3f3f3;
		font-size: 18px;
		padding: 0px 5px 0px 5px;
		&:focus{
			border-top: rgb(0, 153, 255) solid 1px;
		}
	}

		.form__example-mail {
		display: flex;
		flex-direction: column;
		label {
			margin-bottom: 18px;
		}
	}

		.form__mail {
		width: 161px;
		height: 35px;
		border-top: #000 solid 1px;
		background-color: #f3f3f3;
		font-size: 18px;
		padding: 0px 5px 0px 5px;
		&.req_email:focus{
			border-top: rgb(0, 153, 255) solid 1px;
		}
	}

		.form__example-message {
		display: flex;
		flex-direction: column;
		label {
			margin-bottom: 20px;
		}
	}

		.form__message {
		width: 383px;
		height: 118px;
		border-top: #000 solid 1px;
		background-color: #f3f3f3;
		font-size: 18px;
		resize: none;
		margin-bottom: 42px;
		padding: 0px 5px 0px 5px;
		&.req:focus{
			border-top: rgb(0, 153, 255) solid 1px;
		}
	}

		.form__example-send {
		position: absolute;
		right: 28px;
		bottom: 0px;
		width: 11px;
		height: 40px;
	}

		.form__example-send span {
		display: block;
		font-weight: 700;
		letter-spacing: 0.84px;
		text-align: left;
		color: #000;
		background-color: #fff;
	}
}
}
.btn:hover{
	color: #000;
	border: #000 solid 1px;
	background: #fff;
}

//======================================================================================================
//======================================================================================================

.footer {
	background: #3c3c3c;
		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 274px;
		}

		&__logo {
			margin: 48px 0px 41px 0px;
		}

		&__link {
			display: flex;
			flex-direction: row;
			width: 260px;
			height: 11px;
			justify-content: space-between;
			color: #a4a4a4;
		}

		&__home {
			color: #a4a4a4;
		}

		&__facebook {
			color: #a4a4a4;
		}

		&__linkedin {
			color: #a4a4a4;
		}

		&__contact {
			color: #a4a4a4;
		}

		&__text {
			font-family: Myriad Pro;
			margin: 34px 0px 49px 0px;
			color: #6c6c6c;
		}
}

