//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:14px;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================
//<ШРИФТЫ>==============================================================================================

//<Функции>==========================================================================================
$root-font-size: 16px;

//REM
@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

@function em($size) {
	@return $size / $root-font-size * 1em;
}
//<Функции>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>=================================================================================
html {
}

body{
	height: 100%;
	line-height: 1;
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	font-size: 30px;
	color: #fff;
	position: relative;
	&::after {
	content: "";
	position: absolute;
	background: linear-gradient(to right, #00ff03, #ff9e5e, #9a40ff, #26ff00);
	transition: .3s;
	transform: translateX(-50%);
	top: 100%;
	left: 50%;
	height: 3px;
	width: 0%;
	}
	&:hover::after {
		width: 100%;
	}
}

