@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 1103px;
  margin: 0 auto;
}
@media (max-width: 1103px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
}

.mainblock {
  background: url("./img/bg-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  flex: 1 1 auto;
  display: flex;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .mainblock {
    font-size: 25px;
    line-height: 30px;
    padding: 100px 0;
  }
}
.mainblock__content {
  flex: 1 1 auto;
}
.mainblock__content .container {
  height: 100%;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainblock__text {
  position: relative;
  color: #fff;
  padding: 0px 0px 45px 0px;
  margin: 30px 0;
}
.mainblock__text:after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  margin: 0px 0px 0px -52.5px;
  bottom: 0;
}
.mainblock__title {
  font-size: 34px;
  font-weight: 900;
  line-height: 1.18;
  letter-spacing: 5.44px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .mainblock__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.mainblock__footer {
  display: inline-flex;
  flex-direction: column;
}
.mainblock__btn {
  display: inline-block;
  width: 182px;
  height: 47px;
  border: #fff solid 1px;
  opacity: 1;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  line-height: 2.9;
  text-align: center;
  color: #fff;
  margin: 0px 0px 60px 0px;
}
.mainblock__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
}
.mainblock__arrow:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.menu {
  padding: 22px 0;
}
.menu__list {
  display: flex;
  font-size: 14px;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__list li {
  margin: 0 25px;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .menu__list li {
    margin: 10px 25px;
  }
}
.menu__link {
  flex: 1 1 25%;
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu__link_act {
  color: #ada074;
}

.about {
  margin: 130px 0px 95px 0px;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .about {
    font-size: 25px;
    line-height: 30px;
  }
}
.about__body {
  max-width: 823px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__header {
  margin: 0px 0px 69px 0px;
}
.about__title {
  margin: 0px 0px 37px 0px;
}
.about__text {
  max-width: 688px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
  color: #868585;
}
.about__row {
  max-width: 823px;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__column {
  flex: 1 1 30%;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .about__column {
    font-size: 25px;
    line-height: 30px;
    padding: 20px 0;
    flex: 1 1 100%;
  }
  .about__column .item-about__text {
    max-width: 500px;
  }
}
.about__column2 {
  flex: 1 1 40%;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .about__column2 {
    font-size: 25px;
    line-height: 30px;
    padding: 20px 0;
    flex: 1 1 100%;
  }
  .about__column2 .item-about__text {
    max-width: 500px;
  }
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.44px;
  text-align: center;
  color: #000;
  position: relative;
  padding: 0px 0px 37px 0px;
}
.title::after {
  content: "";
  position: absolute;
  width: 81px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -40px;
}

.item-about {
  text-align: center;
}
.item-about__icon {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.item-about__icon_l img {
  position: relative;
  left: 5px;
}
.item-about__title {
  max-width: 250px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3.52px;
  text-align: center;
  color: #000;
  margin: 41px auto 36px auto;
}
.item-about__text {
  max-width: 265px;
  margin: 0 auto;
  height: 100%;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
  color: #868585;
}

.portfolio {
  background-color: #f3f3f3;
}
.portfolio__body {
  padding: 107px 0px 62px 0px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .portfolio__body {
    padding: 100px 0px 0px 0px;
  }
}
.portfolio__header {
  margin: 0px 0px 136px 0px;
}
@media (max-width: 767px), screen and (max-height: 600px) {
  .portfolio__header {
    margin: 0px 0px 70px 0px;
  }
}
.portfolio__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 50px auto;
}
.portfolio__list {
  max-width: 295px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22px;
  text-transform: uppercase;
  font-size: 15px;
}
.portfolio__link {
  color: #3c3c3c;
}
.portfolio__link_act {
  color: #ada074;
}
.portfolio__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px -13px;
}
.portfolio__image {
  padding: 0px 13px;
  flex: 0 1 50%;
  margin: 0px 0px 16px 0px;
}
.portfolio__footer {
  margin: 48px 0px 62px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__btn {
  display: block;
  flex-direction: column;
  width: 182px;
  height: 47px;
  border: #000 solid 1px;
  opacity: 1;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  line-height: 2.9;
  text-align: center;
  color: #000;
}

.partners {
  background: url("./img/bg-header-copy.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 390px;
}
.partners__body {
  max-width: 584px;
  margin: 0px auto;
  padding: 100px 0px 100px 0px;
  display: flex;
  flex-direction: column;
}
.partners__title {
  font-size: 30.5px;
  font-weight: 300;
  letter-spacing: 1.83px;
  text-align: center;
  color: #fff;
}
.partners__links {
  margin: 93px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__body {
  max-width: 850px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 140px 0px 102px 0px;
}
.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 50px auto;
  margin: 0px 0px 120px 0px;
}
.contact__columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.contact__visit {
  flex: 0 0 50%;
  padding: 0px 0px 0px 50px;
}
.contact__text {
  font-weight: 300;
  line-height: 1.86;
  text-align: left;
  margin-bottom: 40px;
}
.contact__elena {
  font-weight: 700;
  margin-bottom: 15px;
}
.contact__fb {
  margin-right: 12px;
}
.contact__mail {
  font-weight: 300;
  line-height: 1.86;
  text-align: left;
}
.contact__mail a {
  font-weight: 700;
}
.contact__form {
  flex: 0 0 50%;
}
.contact__form .form__example {
  position: relative;
  width: 383px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  letter-spacing: 0.84px;
  text-align: left;
  color: #000;
  padding-bottom: 42px;
}
.contact__form .form__example-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
}
.contact__form .form__example-name {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
}
.contact__form .form__example-name label {
  margin-bottom: 18px;
}
.contact__form .form__name {
  width: 161px;
  height: 35px;
  border-top: #000 solid 1px;
  background-color: #f3f3f3;
  font-size: 18px;
  padding: 0px 5px 0px 5px;
}
.contact__form .form__name:focus {
  border-top: rgb(0, 153, 255) solid 1px;
}
.contact__form .form__example-mail {
  display: flex;
  flex-direction: column;
}
.contact__form .form__example-mail label {
  margin-bottom: 18px;
}
.contact__form .form__mail {
  width: 161px;
  height: 35px;
  border-top: #000 solid 1px;
  background-color: #f3f3f3;
  font-size: 18px;
  padding: 0px 5px 0px 5px;
}
.contact__form .form__mail.req_email:focus {
  border-top: rgb(0, 153, 255) solid 1px;
}
.contact__form .form__example-message {
  display: flex;
  flex-direction: column;
}
.contact__form .form__example-message label {
  margin-bottom: 20px;
}
.contact__form .form__message {
  width: 383px;
  height: 118px;
  border-top: #000 solid 1px;
  background-color: #f3f3f3;
  font-size: 18px;
  resize: none;
  margin-bottom: 42px;
  padding: 0px 5px 0px 5px;
}
.contact__form .form__message.req:focus {
  border-top: rgb(0, 153, 255) solid 1px;
}
.contact__form .form__example-send {
  position: absolute;
  right: 28px;
  bottom: 0px;
  width: 11px;
  height: 40px;
}
.contact__form .form__example-send span {
  display: block;
  font-weight: 700;
  letter-spacing: 0.84px;
  text-align: left;
  color: #000;
  background-color: #fff;
}

.btn:hover {
  color: #000;
  border: #000 solid 1px;
  background: #fff;
}

.footer {
  background: #3c3c3c;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 274px;
}
.footer__logo {
  margin: 48px 0px 41px 0px;
}
.footer__link {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 11px;
  justify-content: space-between;
  color: #a4a4a4;
}
.footer__home {
  color: #a4a4a4;
}
.footer__facebook {
  color: #a4a4a4;
}
.footer__linkedin {
  color: #a4a4a4;
}
.footer__contact {
  color: #a4a4a4;
}
.footer__text {
  font-family: Myriad Pro;
  margin: 34px 0px 49px 0px;
  color: #6c6c6c;
}
