//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:14px;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
//<ШРИФТЫ>==============================================================================================

//<Функции>==========================================================================================
$root-font-size: 16px;

//REM
@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

@function em($size) {
	@return $size / $root-font-size * 1em;
}
//<Функции>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>=================================================================================
html {
	font-size: ($root-font-size / 16px) * 100%;
}

body{
	height: 100%;
	line-height: 1;
	background-color: #333;
	color: #fff;
	font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.example {
	padding: 80px 0;

	&__container {
		padding: 0px 15px;
		margin: 0 auto;
		// Переводим в REM
		// делим ширину по макету (1020px+30px) на 16 (размер шрифта по умолчанию)
		max-width: 65.625rem;
		position: relative;
	}

	// Переводим в EM,
	// нужный размер (768px), делим на 16 (размер шрифта по умолчанию)
	@media (min-width: 48em) {
		.example__container::before {
			content: '';
			background: url('../img/image.png') 0 0 / 100% no-repeat;
			position: absolute;
			right: 0;
			// Ширину картинки по макету делим на ширину example__contaner (родителя
			// с position: relative;), умножаем на 100.
			// 153 / 1050 * = 14.57;
			width: 14.57%;
			// Высоту картинки по макету делим на  ширину example__container (родителя
			// с position: relative;), умножаем на 100.
			// 241 / 1050 * 100 = 22.95;
			padding-top: 22.95%;
			top: 50%;
			transform: translate(50%, -50%);
		}
	}

	&__header {
		margin: 0px 0px 25px 0px;
		// Переводим в REM
		// Делим ширину по макету (750px) на 16 (размер шрифта по умолчанию)
		max-width: 46.875rem;
	}

	&__sub-title {
		color: #a989c7;
		font-weight: 700;
		text-transform: uppercase;
		// Переводим в REM
		// Делим размер по макету (14px) на 16 (размер шрифта по умолчанию)
		font-size: 0.875rem;
		// Переводим в %, либо части
		// делим размер по макету (24px) на размер шрифта (14px)
		line-height: 1.7;
		// Переводим в EM,
		// делим размер по макету (15px) на размер шрифта (14px)
		margin: 0px 0px 1.07em 0px;
	}

	&__title {
		color: #93b482;
		text-transform: uppercase;
		font-weight: 900;
		// Переводим в REM
		// Делим размер по макету (42px) на 16 (размер шрифта по умолчанию)
		//font-size: 2.625rem;
		font-size: rem(42px); //Используем функцию
		// Переводим в %, либо части
		// делим размер по макету (50px) на размер шрифта (42px)
		line-height: 1.19;
		// Переводим в EM,
		// делим размер по макету (16px) на размер шрифта (42px)
		margin: 0px 0px 0.38em 0px;
		// Переводим в EM,
		// делим размер по макету (5px) на размер шрифта (42px)
		letter-spacing: 0.12em;
	}

	// Переводим в EM,
	// нужный размер (768px), делим на 16 (размер шрифта по умолчанию)
	@media (max-width: 48em) {
		// Переводим в REM
		// Делим размер по макету (30px) на 16 (размер шрифта по умолчанию)
		&__title {
			font-size: 2rem;
		}
	}

	&__text {
		// Переводим в %, либо части
		// делим размер по макету (24px) на размер шрифта (16px)
		line-height: 1.5;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 24px;
		margin: 0px -12px;
	}

	&__item {
		padding: 0px 12px;
		// Получаем размер в %, делим общую ширину 100% на три
		flex: 1 1 33.333%;
		// Переводим в REM
		// Делим размер по макету (290px) на 16 (размер шрифта по умолчанию)
		min-width: 18.125rem;
	}
}

.item-example {
	display: flex;
	column-gap: 23px;

	&__icon {
		flex: 0 0 63px;
	}

	&__body {
	}

	&__title {
		color: #f2726f;
		font-weight: 900;
		// Переводим в REM
		// Делим размер по макету (24px) на 16 (размер шрифта по умолчанию)
		line-height: 1.5rem;
		// Переводим в EM,
		// делим размер по макету (11px) на размер шрифта (24px)
		margin: 0px 0px 0.45em 0px;
	}

	&__text {
		// Переводим в %, либо части
		// делим размер по макету (24px) на размер шрифта (16px)
		line-height: 1.5;
	}
}
