//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
//<ШРИФТЫ>==============================================================================================

//<Шрифты по умолчанию>==========================================================================================
$fontfamily:"Lato";
//<Шрифты по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================
//$minwidth:320px;
//$mw:1103px;
//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>  Отзывчивая верстка=================================================
//.container {
//	max-width: 1200px;
//	margin: 0 auto;
//	height: auto;
//	background: #007bbf;
//	display: flex;
//	flex-direction: row;
//	justify-content: space-around;
//	flex-wrap: wrap;
//}
//</ОСНОВНАЯ СЕТКА> Отзывчивая верстка=========================================================

//</ОСНОВНАЯ СЕТКА> Адаптивная верстка=================================================
//.container {
//	max-width: 1100px;
//	margin: 0 auto;
//	height: auto;
//	background: #007bbf;
//	display: flex;
//	flex-direction: row;
//	justify-content: space-around;
//	flex-wrap: wrap;
//	@media screen and (max-width:1200px){
//	max-width: 970px;
//	}
//	@media screen and (max-width:992px){
//	max-width: 750px;
//	}
//	@media screen and (max-width:767px){
//	max-width: none;
//	}
//}
//</ОСНОВНАЯ СЕТКА> Адаптивная верстка=========================================================

//</ОСНОВНАЯ СЕТКА> Отзывчиво-адаптивная верстка=================================================
.container {
	max-width: 1400px;
	margin: 0 auto;
	height: auto;
	background: #007bbf;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (max-width:1200px){
	max-width: 970px;
	}
	@media screen and (max-width:900px){
	max-width: 750px;
	}
	@media screen and (max-width:700px){
	max-width: none;
	}
}
//</ОСНОВНАЯ СЕТКА> Отзывчиво-адаптивная верстка=========================================================

body {

}

.box {
	flex: 1 1 20%;
	height: 300px;
	background: yellow;
	margin: 20px;
	box-sizing: border-box;
	font-size: 50px;
	@media screen and (max-width:1200px){
		flex: 1 1 40%;
	}
	@media screen and (max-width:600px){
		flex: 0 0 90%;
	}
}