//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:14px;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================

//<ШРИФТЫ>==============================================================================================

//<Шрифты по умолчанию>==========================================================================================

//<Шрифты по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
	width: 100%;
	min-height: 100%;
	display: flex;
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>=================================================================================
body{
}

.content {
flex: 1 1 auto;
min-height: 100%;
background-color: #000;
padding: 50px;
	&__circle {
		width: 100px;
		height: 100px;
		background-color: #fff;
		border-radius: 50%;
		position: relative;
		left: 0;
		animation-name: white-circle, color1;
		animation-duration: 2s, 5s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-direction: alternate-reverse, alternate;
		animation-delay: 1s,0s;
		animation-fill-mode: both;
	}
	:hover &__circle {
		animation-play-state: paused;
	}
}
@keyframes white-circle{
	0%{
		left: 0;
	}
	50%{
		border-radius: 0%;
	}
	100% {
		left: 500px;
	}
}
@keyframes color1{
	0%{
		background-color: #fff;
	}
	50%{

	}
	100% {
				background-color: rgb(255, 0, 0);
	}
}
