* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
  background-color: rgb(65, 57, 57);
  color: #fff;
  grid-template-areas: "header" "main" "footer";
}

.header {
  background-color: #794f45;
  grid-area: header;
  padding: 15px;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  align-items: center;
  z-index: 50;
}
.header__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  grid-column: 2/3;
}
.header__menu {
  grid-column: 3/4;
}
.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
.header__list li {
  margin: 0px 0px 0px 15px;
}
.header__link {
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
}
.header__burger {
  display: none;
}

@media (max-width: 992px) {
  .wrapper {
    display: grid;
    grid-template: 50px 1fr minmax(70px, auto)/1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    padding: 5px;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    background-color: #fff;
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    background-color: #fff;
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
    background-color: #fff;
  }
  body.lock {
    overflow: hidden;
  }
  .header__logo {
    width: 35px;
    height: 35px;
  }
  .header__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #794f45;
    padding: 100px 0px 0px 0px;
    transition: all 0.3s ease 0s;
  }
  .header__list.active {
    top: 0;
  }
  .header__list {
    text-align: center;
    display: block;
    justify-items: center;
  }
  .header__list .header__link_logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
  }
  .header__list li {
    padding: 0px 0px 65px 0px;
  }
  .header__list li:last-child {
    padding: 0;
  }
  .header__link {
    color: #fff;
    font-size: 24px;
  }
}
.main {
  padding: 30px 15px;
}

.sidebar {
  background-color: rgb(61, 126, 69);
  padding: 30px 15px;
  justify-items: center;
  margin: 0px 0px 30px 0px;
}
.sidebar__list li {
  margin: 0px 0px 15px 0px;
}
.sidebar__link {
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
}

.content__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}
.content__gallery {
  margin: 0px 0px 30px 0px;
}
@media (min-width: 992px) {
  .main {
    grid-area: main;
    display: grid;
    grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
  .sidebar {
    grid-column: 2/3;
    margin: 0;
  }
  .content {
    grid-column: 3/4;
    padding: 0px 0px 0px 30px;
  }
}
.gallery__title {
  font-size: 25px;
  margin: 0px 0px 15px 0px;
}
.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
  position: relative;
  padding: 0px 0px 75% 0px;
}
@media (min-width: 767px) {
  .gallery .gallery__item_big {
    display: grid;
    grid-column: span 2;
    grid-row: span 2;
  }
}
.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__title {
  font-size: 25px;
  margin: 0px 0px 15px 0px;
}
.products__items {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.products__item {
  display: grid;
  grid-template: auto 1fr minmax(40px, auto)/1fr;
}
.products__image {
  position: relative;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 20px 0px;
}
.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__name {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  text-decoration: underline;
  margin: 0px 0px 20px 0px;
}
.products__button {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  justify-self: start;
  background-color: rgb(123, 83, 161);
  padding: 0px 20px;
}

.footer {
  background-color: #77608d;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.footer__copy {
  margin: 20px 0;
}
.footer__text {
  margin: 20px 0;
}

@media (min-width: 992px) {
  .footer {
    display: grid;
    grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
  .footer__copy {
    grid-column: 2/3;
  }
  .footer__text {
    grid-column: 3/4;
    justify-self: end;
  }
}