//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:14px;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================

//<ШРИФТЫ>==============================================================================================

//<Шрифты по умолчанию>==========================================================================================

//<Шрифты по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>=================================================================================
html,body{
	height: 100%;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
.content {
	max-width: 1300px;
	margin: 0 auto;
	padding: 50px 15px;
}
.text {
margin: 0px 0px 80px 0px;

		&__title {
		}

		&__image {
			margin: 0px 0px 20px 0px;
			text-align: center;
		}

		&__image img {
			max-width: 100%;
		}
		&__value {
		}

		&__value p {
			margin: 0px 0px 20px 0px;
		}
}

.title {
	margin: 0px 0px 20px 0px;
	font-size: 30px;
}

.cards {
	margin: 0px 0px 70px 0px;

		&__title {
		}

		&__row {
			margin: 0px -15px 70px -15px;
			display: flex;
		}

		&__column {
			flex: 0 1 33.333%;
			padding: 0px 15px;
		}

		&__item {
		}

		&__image {
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 58% 0px;
			overflow: hidden;
			position: relative; // адаптив по высоте
		}

		&__image img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute; // адаптив по высоте
			top: 0; // адаптив по высоте
			left: 0; // адаптив по высоте
		}

		&__body {
		}
}

.items {

		&__title {
		}

		&__item {
			display: flex;
			margin: 0px 0px 30px 0px;
		}

		&__image {
			flex: 0 0 33.333%;
			position: relative;
			min-height: 150px;
		}

		&__image img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}

		&__body {
			flex: 1 1 auto;
			padding: 0px 0px 0px 30px;
		}

		&__label {
			font-size: 20px;
			font-weight: 700;
			display: inline-block;
			margin: 0px 0px 20px 0px;
		}

		&__text {
		}
}

