@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: lato;
}

.about__body {
  max-width: 823px;
  margin: 0px auto;
}
.about__header {
  margin: 0px 0px 69px 0px;
}
.about__title {
  margin: 0px 0px 35px 0px;
}
.about__text {
  max-width: 688px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
  color: #868585;
}
.about__row {
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.44px;
  text-align: center;
  color: #000;
  position: relative;
  padding: 0px 0px 35px 0px;
}
.title::after {
  content: "";
  position: absolute;
  width: 81px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -40px;
}

.item-about__icon {
  margin: 0px auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3.52px;
  text-align: center;
  color: #000;
  margin: 41px 0px 36px 5px;
}
.item-about__text {
  width: 260px;
  height: 95px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
  color: #868585;
}