//<МИКСИНЫ>===================================================================================================
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:14px;}
	//<МИКСИНЫ>===================================================================================================

//<ШРИФТЫ>==============================================================================================

//<ШРИФТЫ>==============================================================================================

//<Шрифты по умолчанию>==========================================================================================

//<Шрифты по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================
@import "nullstyle.scss";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================

//<ОБОЛОЧКА>=====================================================================================================
.wrapper{
	max-width: 100%;
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: rgb(54, 50, 50);
}
//<ОБОЛОЧКА>=====================================================================================================

//</ОСНОВНАЯ СЕТКА>=================================================================================
body{
}

.content {
	color: #fff;
	max-width: 1000px;
	padding: 30px 3%;
}

h1 {
	font-size: 45px;
}
.grid {
			font-size: 30px;
			margin: 20px 0px 40px 0px;
			position: relative;

		&__body {
			display: grid;
			grid-template-rows: [start] 150px [row2] 150px [row-end];		// Присвоение имен для строк
			grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];		// Присвоение имен для столбцов
			justify-items: stretch;		// Выравнивание контента в ячейке по основной оси
			align-items: stretch;		// Выравнивание контента в ячейке по пересекающей оси
			row-gap: 10px;		// Размер промежутков между строками
			column-gap: 15px;		// Размер промежутков между столбцами
			//gap: 20%;		// Размер всех промежутков
		}

		&__item {
			text-align: center;
			padding: 30px;
			border: 2px dashed rgb(255, 255, 255, 0.2);
		}

		&__item_1 {
			grid-row-start: start;
			grid-column-start: start;
			background: rgb(82, 33, 33);
			order: 1;		// Порядок отображения элемента
			
		}

		&__item_2 {
			order: 3;
		}

		&__item_3 {
			order: 2;
		}

		&__item_4 {
			order: 5;
		}

		&__item_5 {
			order: 6;
		}

		&__item_6 {
			order: 4;
		}
}
